*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg);
}
a{
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 242, 242, 1) 100%);
}
.gradient__text {
    background: var(--color-text);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color:transparent; 
}
.section__wrapper {
    width: 90%;
    max-width: 1334px;
    margin: 0 auto;
}